@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;

    transition:0.5s;
}

.row{
    width:60%;
    height:600px;
    color:black;
    background-color: gainsboro;
    background-image: url(./Images/Background/contactbg.jpg);
    background-repeat: no-repeat;
    background-size: 900px;
    padding-left: 180px;
    padding-top:180px;
}
.row i{
    color:orangered;
    margin:5px;
}
.box{
    width:480px;
    height: 300px;
    padding:15px;
    background-color:gainsboro
}
.contact{
    float:right;
    height: 600px;
    width: 40%;
    margin: 20px;
    padding-top:40px;
    text-align: center;
    background-color:rgb(253, 218, 176);
}
.form{
   
    color: black;
    margin-top:10px;
    width: 100%;
   
    float: left;
   
    
}
.uname{

    height:30px;
    width: 350px;
    
    border:2px solid black;
    margin-top:20px;
    margin-bottom: 20px;
}
.submit{
    height:30px;
    padding: 5px;
    background-color:orangered;
    border:none;
    color:white;
    border-radius:5px;
    margin-left: 10px;
    cursor: pointer;
}
.formtext{
    
    height :300px;
    width:400px;
    border:2px solid black;

}